.clr{
    clear: both;
}
.r{
    float: right;
}
.l{
    float: left;
    margin-left: 1429px;
}
.nav{
    background-color: #3c48778d;
    padding: 5px;
}
#body{
    text-transform: capitalize;
    background-color: #a82282d5;
    height: 749px;
}
h1{
    color: #e67d10af;
}
.an{
    height: 45vh;
    animation-name: aa;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes aa{
    0%{
        height: 100px;
        width: 100%;
        background-image: url(an1.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    25%{
        height: 100px;
        width: 100%;
        background-image: url(an2.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    50%{
        height: 100px;
        width: 100%;
        background-image: url(an3.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    75%{
        height: 100px;
        width: 100%;
        background-image: url(an4.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    100%{
        height: 100px;
        width: 100%;
        background-image: url(an5.png);
        background-position: center;
        background-repeat: no-repeat;
    }
}
