*{
    padding: 0;
    margin: 0;
 }
.clr{
    clear: both;
 }
nav{
    background-color: rgba(55, 139, 97, 0.516);
}
.r{
    float: right;
    width: 98%;
}
.l{
    float: left;
}
button{
    border: none;
    border-radius: 100%;
}
h1{
    margin-left: 190px;
    color: #a29;
}
#body{
    background-image: url(whatsapp.png);
    background-position: center;
    background-size: auto;
    background-color: greenyellow;
    height: 9999px;
    text-transform: capitalize;
}
.left{
    float: left;
    width: 20%;
    
}
.right{
    float: right;
    width: 20%;
    text-align: right;  
   
}
.con{
   
    margin: 50px;
}
.text1{
    float: left;
    text-align: left;
    color: red;
}
.text2{
    float: right;
    text-align: right;
    color: blue;
}
.position-fixed{
    bottom: 2px;
}
